<!DOCTYPE html>
<html>
<head>
    @Html.DevExpress().GetStyleSheets( 
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Dashboard }
    )

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    @*<a href="@Url.Action("Action", "Controller")" target="_blank">Link Text</a>*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Preview", "Preview", "Home")</li>
                    <li>@Html.ActionLink("Manager", "Manager", "Home")</li>
                    <li>@Html.ActionLink("Manual", "Manual", "Home")</li>
                    <li>@Html.ActionLink("Full Screen", "Fullscreen", "Home", new { target = "_blank" })</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <!--    
    <div class="footer">
        <p>&copy; @DateTime.Now.Year - Student17</p>
    </div>
    -->

   
</body>
</html>
